<div class="container">
  </br>
  <div class="row">
    <a href="/albums/new" class="btn btn-light">Add Album</a>
    {{#each data}}
    <div class="col-sm-6">
      </br>
      <div class="card">
        <img src="{{albumCover}}" class="card-img-top">
        <div class=" card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-title">{{artist}}</h6>
          <p class="card-text">{{year}}</p>
          <a href="/songs/{{albumID}}" class="btn btn-primary">Songs</a>
          {{#if genreID}}
            <a href="/albums?genre={{genreID}}" class="btn btn-warning">{{genreID}}</a>
          {{/if}}
          {{!-- <a href="/music/stronger.mp3" class="btn btn-success">Play</a> --}}
          <a href="/albums/delete/{{albumID}}" class="btn btn-danger">Delete</a>

        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{#unless data}}
    <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
    </div>
  {{/unless}}
</div>